name: Deployment Workflow

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy_production:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Push generated webpage to another repository production
#         uses: nkoppel/push-files-to-another-repository@v1.1.0
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        run: |
                git clone https://.:${{ secrets.GITHUB_TOKEN }}@github.com/deploy-site
                rm everything but the .git directory
                copy www https://github.com/gjovanovicst/deploy-site-production.git
                cd https://github.com/gjovanovicst/deploy-site-production.git
                git add .
                git diff-index --quiet HEAD || git commit -m "Automatic publish from github.com/project"
                git push target master
#         with:
#           source-files: 'www/index.html'
#           destination-username: 'gjovanovicst'
#           destination-repository: 'deploy-site-production'
#           destination-directory: 'deploy-site-production'
#           commit-email: 'gjovanovic.st@gmail.com'

#   deploy_preview:
#     runs-on: ubuntu-latest
#     if: github.ref == 'refs/heads/develop'
#     steps:
#     - name: Push generated webpage to another repository preview
#       uses: nkoppel/push-files-to-another-repository@v1.1.0
#       env:
#         API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
#       with:
#         source-files: 'webpage/'
#         destination-username: 'gjovanovicst'
#         destination-repository: 'deploy-site-preview'
#         destination-directory: 'deploy-site-preview'
#         commit-email: 'gjovanovic.st@gmail.com'
