name: Deployment Workflow

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy_production:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Publish production code to separate repo
      run: |
        git clone git@github.com:gjovanovicst/deploy-site.git
        cd deploy-site
        git checkout main
        git remote add origin git@github.com:gjovanovicst/deploy-site-production.git
        git push -u origin main

  deploy_preview:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Publish preview code to separate repo
      run: |
        git clone git@github.com:gjovanovicst/deploy-site.git
        cd deploy-site
        git checkout develop
        git remote add origin git@github.com:gjovanovicst/deploy-site-preview.git
        git push -u origin main
