name: Deployment Workflow

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy_production:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Push generated webpage to another repository production
      uses: nkoppel/push-files-to-another-repository@v1.1.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-files: 'deploy-site/'
        destination-username: 'gjovanovicst'
        destination-repository: 'gjovanovicst.github.io'
        destination-directory: 'deploy-site-production/'
        commit-email: 'gjovanovic.st@gmail.com'

  deploy_preview:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    steps:
    - name: Push generated webpage to another repository preview
      uses: nkoppel/push-files-to-another-repository@v1.1.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-files: 'deploy-site/'
        destination-username: 'gjovanovicst'
        destination-repository: 'gjovanovicst.github.io'
        destination-directory: 'deploy-site-preview/'
        commit-email: 'gjovanovic.st@gmail.com'
